body {
  font-family: 'DM Sans', sans-serif;
}

.paper {
  border-radius: 15px;
  box-shadow: 0 6px 8px rgba(123, 123, 123, 0.25);
}

.icon-button {
  margin-left: 12px;
  margin-right: 12px;
}

.status-bar {
  height: 36px;
  background-color: blue;
  border-radius: 25px;
}

.card-content {
  padding: 20px;
}

.confirm-button {
  background-color: #0043D0;
  color: white;
}

.expand-icon {
  fill: black;
}